@media (min-width: 420px) {
    .header-container-img-search {
        width: 9999px;
    }

    .div-footer-img-p {
        width: 36%;
    }

    .container-p-social {
        width: 64%;
    }
}

@media (min-width: 481px) {
    header {
        height: 55px;
    }

    nav {
        top: 55px;
        height: 29px;
    }

    nav ul li a {
        font-size: 0.95em;
    }

    .div-a-img-h {
        height: 42px;
    }

    .div-footer-img-p {
        width: 34%;
    }

    .container-p-social {
        width: 76%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
    }

    .div-medias-social {
        height: 100%;
    }

    .div-p-social {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35%;
    }

    .div-icons-social {
        height: 40%;
    }

    .div-p {
        height: 100%;
    }
}

@media (min-width: 600px) {
    header {
        height: 60px;
    }

    nav {
        top: 60px;
        height: 30px;
    }

    nav ul li a {
        font-size: 1em;
    }

    .div-a-img-h {
        height: 45px;
    }

    main {
        column-gap: 20px;
        row-gap: 30px;
        width: 520px;
    }

    .container-footer {   
        height: 70px;
    }
    
    .container-p-social {
        column-gap: 20px;
        justify-content: start;
        align-items: center;
        padding-left: 30px;
    }

    .div-p-social {
        height: 40%;
    }

    .div-medias-social a img {
        width: 25px;
    }
}

@media (min-width: 768px) {
    main {
        row-gap: 37px;
        column-gap: 23px;
        width: 736px;
    }

    .container-product {
        width: 230px;
        height: 330px;
    }

    .div-img img {
        width: 190px;
        height: 190px;
    }

    .div-footer-img-p {
        width: 40%;
    }

    .container-p-social {
        width: 60%;
    }

    .div-p p{
        font-size: 0.7em;
    }
}

@media (min-width: 900px) {
    header {
        height: 65px;
    }

    nav {
        top: 65px;
        height: 31px;
    }

    nav ul li a {
        font-size: 1.06em;
    }

    .div-a-img-h {
        height: 45px;
    }

    main {
        row-gap: 40px;
        column-gap: 25px;
        width: 860px;
    }

    .container-product {
        width: 270px;
        height: 370px;
    }

    .div-img img {
        width: 230px;
        height: 210px;
    }

    .div-pm p {
        line-height: 17px;
    }

    .div-footer-img-p img {
        height: 50%;
    }
}

@media (min-width: 991px) {
    body {
        background-color: #ebebeb;
    }

    main {
        row-gap: 30px;
        column-gap: 20px;
        width: 920px;
    }

    .container-product {
        width: 215px;
        height: 340px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.109);
    }

    .div-pm p {
        line-height: 15.9px;
    }

    .div-img img {
        width: 185px;
        height: 195px;
    }
}

@media (min-width: 1200px) {
    header {
        height: 67px;
    }

    .header-container-img-search {
        width: 1320px;
    }
    
    nav {
        top: 67px;
        height: 32px;
    }

    nav ul li a {
        font-size: 1.08em;
    }

    .div-a-img-h  {
        height: 47px;
    }

    main {
        row-gap: 40px;
        column-gap: 20px;
        width: 1155px;
    }

    .div-img img {
        width: 185px;
        height: 200px;
    }
}

@media (min-width: 1700px) {

    .header-container-img-search {
        width: 1575px;
    }

    main {
        row-gap: 45px;
        column-gap: 30px;
        width: 1370px;
    }

    .container-product {
        width: 250px;
        height: 370px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.165);
    }

    .div-img img {
        width: 220px;
        height: 215px;
    }

    .div-pm p {
        line-height: 17px;
    }

}