@media (min-width: 481px) {
    header {
        height: 55px;
    }

    header img {
        height: 45px;
    }

    .div-footer-img {
        width: 30%;
    }

    .container-p-social {
        width: 70%;
        flex-direction: row;
        column-gap: 20px;
    }

    .div-p {
        height: 100%;
    }

    .div-medias-social {
        height: 100%;
    }

}

@media (min-width: 600px) {
    header {
        height: 60px;
    }

    header img {
        height: 50px;
    }

    .search-container {
        width: 520px;
    }

    main {
        column-gap: 20px;
        width: 520px;
    }
    
    footer {
        height: 60px;
    }

    .container-footer {   
        height: 55px;
    }
    
    .container-p-social {
        flex-direction: row;
        column-gap: 20px;
    }
    
    .div-p {
        height: 100%;
    }

    .div-p p {
        font-size: 0.71em;
    }
    
    .div-medias-social {
        height: 100%;
    }

    .div-medias-social a img {
        width: 25px;
    }
}

@media (min-width: 768px) {
    .search-container {
        width: 736px;
    }

    main {
        row-gap: 35px;
        column-gap: 23px;
        width: 736px;
    }

    .container-product {
        width: 230px;
        height: 330px;
    }

    .div-img img {
        width: 190px;
        height: 190px;
    }

    .container-p-social {
        flex-direction: row;
        column-gap: 20px;
    }

    .div-p {
        height: 100%;
    }

    .div-medias-social {
        height: 100%;
    }
}

@media (min-width: 900px) {
    header {
        height: 63px;
    }

    header img {
        height: 53px;
    }

    .search-container {
        width: 860px;
    }

    main {
        row-gap: 40px;
        column-gap: 25px;
        width: 860px;
    }

    .container-product {
        width: 270px;
        height: 370px;
    }

    .div-img img {
        width: 230px;
        height: 230px;
    }

    footer {
        height: 63px;
    }

    .container-footer {   
        height: 58px;
    }

    .container-p-social {
        flex-direction: row;
        column-gap: 20px;
    }

    .div-p {
        height: 100%;
    }
    
    .div-p p {
        font-size: 0.72em;
    }

    .div-medias-social {
        height: 100%;
    }

    .div-medias-social a img {
        width: 26px;
    }
}

@media (min-width: 991px) {
    body {
        background-color: #ebebeb;
    }

    .search-container {
        width: 920px;
    }

    main {
        row-gap: 30px;
        column-gap: 20px;
        width: 920px;
    }

    .container-product {
        width: 215px;
        height: 340px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.109);
    }

    .div-img img {
        width: 195px;
        height: 205px;
    }

    .container-p-social {
        flex-direction: row;
        column-gap: 20px;
    }

    .div-p {
        height: 100%;
    }

    .div-medias-social {
        height: 100%;
    }

}

@media (min-width: 1200px) {
    header {
        height: 67px;
    }

    header img {
        height: 57px;
    }

    .search-container {
        width: 1155px;
    }

    main {
        row-gap: 40px;
        column-gap: 20px;
        width: 1155px;
    }

    .div-img img {
        width: 195px;
        height: 215px;
    }

    .container-p-social {
        flex-direction: row;
        column-gap: 20px;
    }

    .div-p {
        height: 100%;
    }

    .div-medias-social {
        height: 100%;
    }

}

@media (min-width: 1700px) {
    header {
        height: 70px;
    }

    header img {
        height: 60px;
    }

    .search-container {
        width: 1370px;
    }

    main {
        row-gap: 45px;
        column-gap: 30px;
        width: 1370px;
    }

    .container-product {
        width: 250px;
        height: 350px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.165);
    }

    .div-img img {
        width: 205px;
        height: 210px;
    }

    footer {
        height: 66px;
    }
    
    .div-footer-img {
        width: 30%;
    }

    .container-p-social {
        width: 70%;
        padding-left: 30px;
        flex-direction: row;
        column-gap: 20px;
    }
    
    .div-p {
        height: 100%;
    }

    .div-p p {
        font-size: 0.72em;
    }

    .div-medias-social {
        height: 100%;
    }

    .div-medias-social a img {
        width: 26px;
    }
}